<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> Use this lightweight tool to find your next domain today.</p>

    <form action="/domain" method="get">
      <span>
        <input type="text" name="domainName" placeholder="example.com">
        <input type="submit" value="Can it be mine?">
      </span>

    </form>
  </body>
</html>
